# Gradle
.gradle/
build/
out/
classes/

# Run / data
run/
runs/
build/datagen/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.eclipse/
.project
.classpath
.settings/
bin/

# Loom remap cache
.fabric/

# OS
.DS_Store
Thumbs.db

# Local maven publish target
mcmodsrepo/
